@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  /* background-color: #000000; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .textGradientWelcome {
    @apply bg-gradient-to-br from-[#CB5EEE] via-[#4BE1EC] to-[#ff9472]  bg-clip-text text-transparent;
  }
}
